-illow==6.1.0
-umpy==1.16.5
absl-py==0.9.0
agents==1.4.0
aiohttp==3.5.4
alabaster==0.7.12
altair==4.0.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
anyqt==0.0.10
appdirs==1.4.4
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.0
astroid==2.4.2
astropy==4.0
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
babel==2.8.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
base58==1.0.3
bcrypt==3.1.7
beautifulsoup4==4.9.1
bitarray==1.2.2
bkcharts==0.2
bleach==3.1.5
blinker==1.4
bokeh==2.1.1
boto3==1.10.45
boto==2.49.0
botocore==1.13.45
bottleneck==1.3.2
brotlipy==0.7.0
cachelib==0.1.1
cachetools==4.1.0
catboost==0.23.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
clyent==1.2.2
colorama==0.4.3
comtypes==1.1.7
conda-build==3.18.9
conda-package-handling==1.7.0
conda-verify==3.1.1
conda==4.8.4
configparser==5.0.0
contextlib2==0.6.0.post1
cryptography==2.9.2
cycler==0.10.0
cython==0.29.20
cytoolz==0.10.1
dash-core-components==0.45.0
dash-html-components==0.15.0
dash-renderer==0.21.0
dash-table==3.6.0
dash==0.40.0
dask==2.19.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
distlib==0.3.0
distributed==2.19.0
django-plotly-dash==0.9.8
django==2.1.7
dm-tree==0.1.2
docker-pycreds==0.4.0
docutils==0.15.2
dpd-components==0.1.0
entrypoints==0.3
enum-compat==0.0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fasttsne==0.2.13
filelock==3.0.12
flake8==3.8.3
flask-compress==1.4.0
flask-cors==3.0.9
flask-session==0.3.2
flask-sqlalchemy==2.4.1
flask-sslify==0.1.5
flask==1.1.2
fsspec==0.7.4
future==0.18.2
gast==0.3.3
gevent==20.6.2
gin-config==0.1.3
gitdb==4.0.5
gitpython==3.1.8
glob2==0.7
google-api-core==1.14.2
google-auth-oauthlib==0.4.1
google-auth==1.14.1
google-cloud-bigquery==1.20.0
google-cloud-core==1.0.3
google-pasta==0.2.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
gql==0.2.0
graphql-core==1.1
graphviz==0.8.4
greenlet==0.4.16
grpcio==1.27.2
gym-connect4==0.3
gym==0.14.0
h5py==2.10.0
heapdict==1.0.1
html5lib==1.0.1
hypothesis==5.16.1
idna==2.6
igraph==0.1.11
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.6.1
intervaltree==3.0.2
ipykernel==5.3.0
ipython-genutils==0.2.0
ipython==7.14.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
jgraph==0.2.1
jinja2==2.11.2
jmespath==0.9.4
joblib==0.15.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-dashboards-bundlers==0.9.1
jupyter-plotly-dash==0.2.0
jupyter==1.0.0
jupyterlab-server==1.1.5
jupyterlab==2.1.4
jupyterthemes==0.20.0
keras-applications==1.0.8
keras-preprocessing==1.1.2
keyring==21.2.1
keyrings.alt==3.4.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lesscpy==0.14.0
libarchive-c==2.9
lightgbm==2.3.1
llvmlite==0.32.1
locket==0.2.0
lxml==4.5.1
markdown==3.1.1
markupsafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
mpi4py==3.0.3
mpmath==1.1.0
msgpack==1.0.0
multidict==4.5.2
multipledispatch==0.6.0
mxnet==1.6.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
nbserverproxy==0.8.8
networkx==2.4
nltk==3.5
nose==1.3.7
notebook==6.0.3
numba==0.49.1
numexpr==2.7.1
numpy==1.18.5
numpydoc==1.0.0
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.32
openpyxl==3.0.3
opt-einsum==3.1.0
orange3==3.19.0
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.1.2
pip==20.1.1
pkginfo==1.5.0.1
plotly==4.8.2
pluggy==0.13.1
ply==3.11
pmdarima==1.5.3
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.3
psutil==5.7.0
ptan==0.3
py4j==0.10.7
py==1.8.2
pyarrow==0.11.1
pyasn1-modules==0.2.7
pyasn1==0.4.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle==5.0.2
pyflakes==2.2.0
pyglet==1.3.2
pygments==2.6.1
pyjwt==1.7.1
pylint==2.5.3
pynacl==1.4.0
pyodbc==4.0.0-unsupported
pyopenssl==19.1.0
pyparsing==2.4.7
pyqt5-sip==12.7.2
pyqt5==5.14.2
pyqtgraph==0.10.0
pyreadline==2.1
pyrsistent==0.16.0
pysocks==1.7.1
pyspark==2.4.5
pysrt==1.1.2
pytest-arraydiff==0.3
pytest-astropy-header==0.1.2
pytest-astropy==0.8.0
pytest-doctestplus==0.7.0
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
pytest==5.4.3
python-dateutil==2.8.1
python-igraph==0.7.1.post6
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
python-louvain==0.13
pytz==2020.1
pywavelets==1.1.1
pywin32-ctypes==0.2.0
pywin32==227
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==19.0.1
qdarkstyle==2.8.1
qtawesome==0.7.2
qtconsole==4.7.5
qtpy==1.9.0
regex==2020.5.14
requests-oauthlib==1.3.0
requests==2.24.0
retrying==1.3.3
rope==0.17.0
rsa==4.0
rtree==0.9.4
ruamel-yaml==0.15.87
ruamel.yaml.clib==0.2.0
ruamel.yaml==0.16.5
s3transfer==0.2.1
scikit-commpy==0.4.0
scikit-image==0.16.2
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.10.1
selenium==3.141.0
send2trash==1.5.0
sentry-sdk==0.17.3
serverfiles==0.3.0
setuptools==47.3.1.post20200622
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
sktime==0.4.1
smmap==3.0.4
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
sphinx==3.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.2
spyder-kernels==1.8.1
spyder==4.0.1
sqlalchemy==1.3.18
srt==3.0.0
stable-baselines==2.9.0
statsmodels==0.11.1
streamlit==0.52.2
subprocess32==3.5.4
sympy==1.6
tables==3.6.1
tbats==1.1.0
tblib==1.6.0
tensorboard-plugin-wit==1.6.0
tensorboard-pytorch==0.7.1
tensorboard==2.3.0
tensorflow-estimator==2.3.0
tensorflow-probability==0.7.0
tensorflow==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-agents-nightly==0.2.0.dev20191008
tf-agents==0.3.0
tfp-nightly==0.9.0.dev20191008
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.10.0
torch==1.3.1
torchvision==0.4.2
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
tzlocal==2.0.0
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
validators==0.14.1
virtualenv==20.0.21
wandb==0.9.6
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
werkzeug==0.16.0
wheel==0.34.2
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
wtforms==2.2.1
xlrd==1.2.0
xlsxwriter==1.2.9
xlwings==0.19.4
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.29.0
yarl==1.3.0
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1